# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb
temp
# Model files
model/
zq/model/
data/raw/*
data/processed/*
data/rtf/*
script\preprocessing\rft_export.py
# Results and outputs
# OS files
.DS_Store
Thumbs.db

# PyCharm/VSCode
.idea/
.vscode/

# Virtual environment
.venv/
venv/
env/
